  <h5>タグ検索</h5>
    
    <% tag_list.each do |list|%>
      <i class="fa-sharp fa-solid fa-tag">
        <%= link_to list.name, search_tag_path(tag_id: list.id), class: "text-decoration-none" %>
      </i>
    <% end %>
 